body {
    margin: 10px;
    background-color: #d59efa;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

caption {
    font-size: 1.6em;
    color: #8507da;
    font-weight: bold;
    margin: 1em 0 .5em 0;
}

label {
    color: #8507da;
    font-weight: bold;
    margin-bottom: 5px;
}

.tabela {
    float: left;
    margin-left: 20px;
}

.images {
    float: right;
    margin-left: 20px;
}

#flower3 {
    position: relative;
    right: 5px;
}

#flower4{
    position: relative;
    top: -30px;
    right: 100px;
}

#flower5 {
    position: relative;
    top: -60px;
    right: 200px;
}
